Play2Win/Assembly-CSharp-Editor.csproj
Play2Win/Library/
Play2Win/Temp/
Play2Win/Play2Win.sln
Play2Win/Assembly-CSharp.csproj
Play2Win/Assembly-CSharp-firstpass.csproj
Play2Win/Play2Win.v12.suo
Play2Win/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
